body {
    color: black;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    margin: 0px auto 0px auto;
    max-width: 800px;
    padding: 0 16px;
}

#logo, #navigation {
    display: inline-block;
}

#logo {
    margin-right: 16px;
}

h1#logo a {
    color: black;
    text-decoration: none;
}

#navigation a {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 8px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}
