<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>flannelhead's lab - $title$</title>

        <link rel="stylesheet" type="text/css" href="/fonts/ptsans/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="/fonts/ptmono/stylesheet.css" />

        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <h1 id="logo">
            <a href="/">flannelhead's lab</a>
        </h1>

        <div id="navigation">
            <a href="/">Home</a>
            <a href="/blog.html">Blog</a>
            <a href="/projects.html">Projects</a>
            <a href="/about.html">About</a>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
    </body>
</html>
